@model create_plog
<div class="main_contant">
    <div class="title">Create Plog</div>
    <form class="Form" asp-action="Create_plog" method="post" enctype="multipart/form-data">
        <div class="AE_F_Text">
            <label>Title</label>
            <input type="text" asp-for="Title" placeholder="Enter Title">
        </div>

        <div class="AE_F_Text">
            <label>Sub Title</label>
            <input type="text" asp-for="Sup_Title" placeholder="Enter Sub Title">
        </div>

        <div class="AE_F_Text">
            <label for="img">
                Images <img id="img_viue" style=" background-size: cover;">
                <div class="plas" id="plas">+</div>
            </label>

            <input asp-for="Img" accept="image/*" id="img" hidden>
            <div class="img_ph"></div>
        </div>

        <div class="AE_F_Text">
            <label>The NEWS</label>
            <textarea name="Article" asp-for="Article"></textarea>
        </div>

        <label class="rb_tit">NEWS Type</label>
        <div class="AE_F_Text">
            <label>Spore</label>
            <input type="radio" asp-for="Type" value="Sport" />
        </div>

        <div class="AE_F_Text">
            <label>Politics</label>
            <input type="radio" asp-for="Type" value="Politics" />
        </div>

        <div class="AE_F_Text">
            <label>Health</label>
            <input type="radio" asp-for="Type" value="Health" />
        </div>
        <div class="AE_F_Text">
            <label>Technology</label>
            <input type="radio" asp-for="Type" value="Technology" />
        </div>

        <div class="AE_F_Text">
            <input type="submit" name="title" value="submit">
        </div>
    </form>
</div>