<div class="main_contant">
    <div class="title">Create Account</div>
    @* فورم انشاء حساب للكاتب *@
    <form class="Form">
        <div class="AE_F_Text">
            <label>First Name</label>
            <input type="text" name="fname" placeholder="Enter First Name">
        </div>

        <div class="AE_F_Text">
            <label>Last Name</label>
            <input type="text" name="lname" placeholder="Enter Last Name">
        </div>

        <div class="AE_F_Text">
            <label>User Name</label>
            <input type="text" name="uname" placeholder="Enter User Name">
        </div>

        <div class="AE_F_Text">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter Email">
        </div>

        <div class="AE_F_Text">
            <label>Password</label>
            <input type="Password" name="email" placeholder="Enter Password">
        </div>

        <div class="AE_F_Text">
            <label>Repassword</label>
            <input type="Password" name="email" placeholder="Re Enter password">
        </div>

        <div class="AE_F_Text">
            <input type="button" name="title" value="submit">
        </div>
    </form>
</div>