@model IEnumerable<Globe.Data.News>
@if(Model.Count() > 0)
{
    <div class="main_contant">
        <div class="title">Dashbord</div>
        @foreach(var news in Model)
        {
            <div class="contant_card">
                <form asp-action="Post" method="post">
                    <input type="hidden" name="ID" value=@news.Id>
                    <label for="img">
                        <button>
                            <img src="@news.Img_path">
                        </button>
                    </label>
                    <input type="submit" id="img" hidden>
                </form>
                <div class="text">
                    <div class="T_text">
                        <p>@news.Title</p>
                    </div>
                    <div class="ST_text">
                        <p>@news.Sup_Title</p>
                    </div>
                </div>
                <div class="edit">
                    <form asp-action="Edit_Plog" method="post">
                        <input type="hidden" name="ID" value=@news.Id>
                        <label for="EB">
                            <button>EDIT</button>
                        </label>
                        <input type="submit" id="EB" hidden>
                    </form>
                </div>
                <div class="delete">
                    <form asp-action="Delete_Plog" method="post">
                        <input type="hidden" name="ID" value=@news.Id>
                        <label for="EB">
                            <button>Delete</button>
                        </label>
                        <input type="submit" id="EB" hidden>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="SARCH" id="SARCH">
        <div class="main_contant">
            <div class="title">Dashbord</div>
            <div class="ERORR">Sorry NO Resalt</div>
        </div>
    </div>
}
