@* محمد *@
<div class="HOME" id="HOME">
    <div class="hot">
        <div class="title">Hot</div>

        <div class="main_card">
            <img src="~/asedes/img/News/‏‏لقطة الشاشة (58).png" alt="">
            <a asp-action="Post"><div class="ops"></div></a>
            <div class="text">
                <p>

                </p>
                <div class="sup_title">
                    <p>

                    </p>
                </div>

            </div>
        </div>

        </div>


    <div class="most_watched">
        <div class="title">Most Watched</div>

        <div class="sup_card">
            <a asp-action="Post">
                <img class="mane_post_img" src="~/asedes/img/Soprt/_132486489_stokes1.png">
            </a>
            <div class="text">
                <p>
                    
                </p>
            </div>

        </div>

        

    </div>

    <div class="most_watched">
        <div class="title">News</div>

        <div class="sup_card">
            <a asp-action="Post">
                <img class="mane_post_img" src="~/asedes/img/News/skynews-the-hague-court_6434004.png">
            </a>
            <div class="text">
                <p>

                </p>
            </div>
        </div>
    </div>

    <div class="most_watched">
        <div class="title">Sport</div>

        <div class="sup_card">
            <a asp-action="Post">
                <img class="mane_post_img" src="~/asedes/img/Soprt/_132487331_emilionsuereactsaftermissedpenequatorialguineavsguinea.png">
            </a>
            <div class="text">
                <p>

                </p>
            </div>
        </div>

       
    </div>
</div>
@* نهاية محمد *@