@model IEnumerable<Globe.Data.News>

<div class="main_contant">
    <div class="title">@Model.ElementAtOrDefault(0).Title</div>
    <div class="POsubtitle">
        <p>
            @Model.ElementAtOrDefault(0).Sup_Title
        </p>
    </div>

    <img class="POimg" src="~/@Model.ElementAtOrDefault(0).Img_path">

    <div class="POtext">
        <p>
            @Model.ElementAtOrDefault(0).Article
        </p>
    </div>
</div>